<!DOCTYPE html>
<html>
<head>
    <title>Posts Home</title>
</head>
<body>
    <h1>All Posts</h1>
    <a href="{{ url_for('views.create') }}">➕ Create New Post</a>
    <hr>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p><b>Author:</b> {{ post.author }}</p>
        <p>{{ post.body }}</p>
        {% if post.image %}
            <img src="{{ url_for('static', filename='uploads/' + post.image) }}" width="200"><br>
        {% endif %}
        <hr>
    {% else %}
        <p>No posts yet!</p>
    {% endfor %}
</body>
</html>
